/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 16/07/2024, 2:39:30 a. m.
    Author     : Abelito
*/

@import url(../css/variables.css);
@import url(../componentes/header.css);
@import url(../componentes/pagination.css);
@import url(../componentes/tabla.css);

body {
    font-family: Arial, sans-serif;
    background-color: var(--blueadmin);
    margin: 0;
    padding: 0;
}

.header__search{
    display: none;
}

.header__title{
    display: flex;
}

/* CONTAINER */
.container {
    position: relative;
    width: 80%;
    margin: 20px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__btns{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

/* BOTONES */
.button {
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    border: none;
    font-size: 15px;
}

.button:disabled{
    opacity: .5;
    pointer-events: none;
}

.button--primary {
    background-color: #4682b4;
    color: #ffffff;
    height: var(--btn-height);
}

.button--primary--h{
    height: auto;
}

.button--primary:hover {
    opacity: .8;
}

.button--edit {
    background-color: #4682b4;
    color: #ffffff;
}

.button--edit:hover {
    background-color: #5a9bd4;
}

.button--enable {
    background-color: #f0ad4e; /* Amarillo dorado */
    color: #ffffff;
}

.button--enable:hover {
    background-color: #ec971f;
}

.button--delete {
    background-color: #d9534f;
    color: #ffffff;
}

.button--delete:hover {
    background-color: #c9302c;
}

.delete{
    color: #d9534f;
    font-weight: 700;
}

.green{
    background-color: var(--greenh);
}

.blue{
  background-color: var(--blugreen);  
}

.display-none{
    display: none;
}

/* FORMULARIO DE BUSCAR DOCENTE */
.form__search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form__group {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.form__group--md{
    flex-direction: column;
    border: 0;
    align-items: stretch;
    
}

.form__input--pd {
    padding: 10px;
    border: none;
    outline: none;
    width: 200px;
    margin: 0;
    font-size: 14px;
}

.button--secondary{
    height: var(--btn-height);
}

.button--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0;
}

.button--icon svg {
    width: 24px;
    height: 24px;
    fill: white;
}

.svg-icon {
    width: 24px;
    height: 24px;
}

.container__cerrar{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    color: crimson;
    float: right;
}

/**/
@media (max-width: 1240px) {

    .container{
        padding: 30px 20px;
        margin: 30px auto;
        width: 94vw;
        box-sizing: border-box;
    }

    .container__top{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .button--secondary{
        margin-left: 10px;
    }

    .form__search{
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }
}

@media (max-width: 430px) {

    .container{
        padding: 30px 10px;
        margin: 30px 0;
        width: 100vw;
    }
}