/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 4/08/2024, 6:47:35 p. m.
    Author     : Abelito
*/

@import url(variables.css);

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 30px;
    background-color: #f4f4f4;
}

.header__title{
    text-align: center;
}

.container {
    width: var(--box-width);
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.terms {
    background: #fff;
    padding: 20px 40px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.term__text {
    margin: 10px 0;
}

.term__list{
    margin: 10px 0 10px 20px;
}