
.coment{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 100px;
  background-color:  var(--bluefil);
  border-radius: var(--radius) var(--radius) 0 0 ;
  gap: 20px;
}

.coment__title{
  font-size: var(--title2-sz);
  margin: 0;
}

.coment__group{
    width: 100%;
}

.coment__input{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: transparent;
  border: 2px solid var(--blue);
  color: var(--blue);
  border-radius: var(--radius);
  font-size: 15px;

}

.coment__btn{
  align-self: flex-end;
  height: var(--btn-height);
  padding: var(--btn-pd);
  border-radius: var(--radius);
  border: 0;
  background-color: var(--blue);
  color: var(--blue3);
  cursor: pointer;
}

@media screen and (max-width:1300px){
    :root{
        --box-width: 90vw;
        --title2-sz: 25px;
        --box-pd: 0 15px;
    }
    .coment{
        padding: 30px;
    }
}

@media screen and (max-width:700px){
    :root{
        --title2-sz: 22px;
    }

    .coment{
        padding: 15px;
    }
}